:root {
  --page-header-height: 60px;
  @media only screen and (min-width: 768px) {
    --page-header-height: 80px;
  }
  @media only screen and (min-width: 1280px) {
    --page-header-height: 100px;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

#pageContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#pageHeader {
  width: 100%;
  height: var(--page-header-height);
  border-bottom: 1px solid #bbb;
  background: #fff;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}
.page-header-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.page-nav-container {
  height: 100%;
}
.page-nav-menu-container {
  height: calc(100% - var(--page-header-height));
  background: #fff;
  position: fixed;
  top: var(--page-header-height);
  left: 100%;
  z-index: 1000;
  opacity: 0;
  transition:
    transform 0.8s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.4s cubic-bezier(0.22, 1, 0.36, 1);
  &.active {
    transform: translateX(-100%);
    opacity: 1;
  }
  ul {
    width: 100%;
  }
  li {
    width: 100%;
    margin: 50px 0;
    &.selected {
      .nav-button {
        span {
          position: relative;
          &:after {
            content: "";
            display: block;
            width: calc(100% + 8px);
            height: 4px;
            margin: 0 -4px;
            background: var(--yellow);
            position: absolute;
            top: calc(100% + 4px);
            left: 0;
          }
          @media only screen and (min-width: 768px) {
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
  .nav-button {
    width: 100%;
    display: flex;
    align-items: center;
    height: 53px;
    padding: 0 var(--page-wrapper-padding);
    text-align: left;
    span {
      font-size: 20px;
      font-weight: 700;
      line-height: 1em;
    }
  }
  @media only screen and (min-width: 768px) {
    .nav-button {
      span {
        font-size: 24px;
      }
    }
  }
  .inquiry-button-item {
    width: auto;
    padding: 0 var(--page-wrapper-padding);
    margin: 0;
  }
  .inquiry-button {
    height: 48px;
    border-radius: 24px;
    padding: 0 13px 0 20px;
    span {
      font-size: 20px;
    }
    figure {
      width: 20px;
      height: 20px;
      margin-left: 13px;
    }
  }
  @media only screen and (min-width: 768px) {
    .inquiry-button {
      height: 53px;
      border-radius: 27px;
      span {
        font-size: 24px;
      }
    }
  }
}
[viewport-device="desktop"] {
  .page-nav-menu-container {
    transition: none;
    opacity: 1;
    position: static;
    transform: none;
    height: 100%;
    ul {
      width: 100%;
      height: 100%;
      display: flex;
    }
    li {
      width: 200px;
      height: 100%;
      margin: 0 25px;
      position: relative;
      display: flex;
      align-items: center;
      &.selected {
        &:after {
          content: "현재 페이지";
          display: block;
          width: 100%;
          height: 6px;
          font-size: 0;
          background: var(--yellow);
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }
    .nav-button {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        font-size: 24px;
        font-weight: 700;
        line-height: 1em;
      }
    }

    .inquiry-button-item {
      width: auto;
      padding: 0;
      margin-right: 0;
    }
  }
}

.page-header-nav-open-button {
  width: var(--page-header-height);
  height: var(--page-header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(30px);

  --page-header-nav-margin: 6px;

  figure {
    position: relative;
    span {
      position: absolute;
      width: 20px;
      height: 2px;
      border-radius: 2px;
      background: #000;
      top: 50%;
      left: 50%;
    }
  }
  @media only screen and (min-width: 768px) {
    --page-header-nav-margin: 8px;
    figure {
      span {
        width: 25px;
        height: 2px;
      }
    }
  }

  .top {
    transform: translate(-50%, calc(-50% - var(--page-header-nav-margin)));
  }
  .mid {
    transform: translate(-50%, -50%);
  }
  .btm {
    transform: translate(-50%, calc(-50% + var(--page-header-nav-margin)));
  }

  &.active {
    .top {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    .mid {
      opacity: 0;
    }
    .btm {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}
[viewport-device="desktop"] {
  .page-header-nav-open-button {
    display: none;
  }
}

#pageFooter {
  width: 100%;
  padding: 40px 0;
  border-top: 1px solid #c2c2c2;
  background: #fff;
  .page-footer-section {
    width: 100%;
    margin-bottom: 40px;
    justify-content: space-between;
  }
  .logo-box {
    font-size: 0;
    figcaption {
      margin-top: 15px;
      font-size: 17px;
      line-height: 1em;
      font-weight: 600;
      display: flex;
      align-items: center;
    }
  }
  .inquiry-button {
    padding: 0 36px;
    span {
      font-size: 26px;
    }
  }
  dl {
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    dt {
      margin-right: 4px;
      font-weight: 600;
      white-space: nowrap;
    }
    dd {
      font-weight: 400;
    }
  }
  .copyright {
    font-size: 14px;
    color: #666;
    line-height: 21px;
    font-weight: 400;
  }
}

[viewport-device="desktop"] {
  #pageFooter {
    .page-footer-section {
      display: flex;
    }
    .logo-box {
      font-size: 0;
      figcaption {
        height: 37px;
        font-size: 22px;
      }
    }
    dl {
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .address-info-item {
      margin-bottom: 10px;
      justify-content: flex-end;
    }
  }
}
