:root {
  --page-header-height: 60px;
  @media only screen and (min-width: 768px) {
    --page-header-height: 80px;
  }
  @media only screen and (min-width: 1280px) {
    --page-header-height: 100px;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

#pageContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#pageHeader {
  width: 100%;
  height: var(--page-header-height);
  border-bottom: 1px solid #bbb;
  background: #fff;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}
.page-header-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

#pageFooter {
  width: 100%;
  padding: 40px 0;
  border-top: 1px solid #c2c2c2;
  background: #fff;
  .page-footer-section {
    width: 100%;
    margin-bottom: 40px;
    justify-content: space-between;
  }
  .logo-box {
    font-size: 0;
    figcaption {
      margin-top: 15px;
      font-size: 17px;
      line-height: 1em;
      font-weight: 600;
      display: flex;
      align-items: center;
    }
  }
  .inquiry-button {
    padding: 0 36px;
    span {
      font-size: 26px;
    }
  }
  dl {
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    dt {
      margin-right: 4px;
      font-weight: 600;
      white-space: nowrap;
    }
    dd {
      font-weight: 400;
    }
  }
  .copyright {
    font-size: 14px;
    color: #666;
    line-height: 21px;
    font-weight: 400;
  }
}

[viewport-device="desktop"] {
  #pageFooter {
    .page-footer-section {
      display: flex;
    }
    .logo-box {
      font-size: 0;
      figcaption {
        height: 37px;
        font-size: 22px;
      }
    }
    dl {
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .address-info-item {
      margin-bottom: 10px;
      justify-content: flex-end;
    }
  }
}

.page-body {
  width: 100%;
  position: relative;
  z-index: 0;
}

.page-scroll-container {
  width: 100%;
  height: 100%;
}
