:root {
  --page-wrapper-width: 1400px;
  --page-wrapper-padding: 30px;
  --section-header-deco-width: 7px;
  --section-header-deco-height: 30px;
  @media only screen and (min-width: 768px) {
    --page-wrapper-padding: 50px;
    --section-header-deco-width: 10px;
    --section-header-deco-height: 40px;
  }
  @media only screen and (min-width: 1280px) {
    --page-wrapper-padding: 30px;
    --section-header-deco-width: 14px;
    --section-header-deco-height: 58px;
  }
}

@mixin common-layout($height-area: "") {
  position: relative;
  z-index: 10;
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }
  .bg-object-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cover {
    width: 100%;
    height: 100%;
  }
  @if $height-area == "full" {
    height: 400px;
    @media only screen and (min-width: 768px) {
      height: 600px;
    }
    @media only screen and (min-width: 1280px) {
      height: calc(100vh - var(--page-header-height));
    }
  }
}

.page-section-wrapper {
  width: 100%;
  max-width: var(--page-wrapper-width);
  padding: 0 var(--page-wrapper-padding);
  margin: 0 auto;
}

.page-section-header {
  padding: 60px 0;
  @media only screen and (min-width: 768px) {
    padding: 80px 0;
  }
  @media only screen and (min-width: 1280px) {
    padding: 100px 0 60px;
  }
}
.page-section-header-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .deco {
    display: none;
    width: var(--section-header-deco-width);
    height: var(--section-header-deco-height);
    margin-bottom: 20px;
    justify-content: center;
    .deco-bar {
      display: block;
      width: var(--section-header-deco-width);
      height: var(--section-header-deco-height);
      background: var(--yellow);
      font-size: 0;
      opacity: 0;
      transition-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
    }
  }
  &[title-deco="true"] {
    .deco {
      display: flex;
    }
  }
}
.page-section-header-title {
  font-size: 36px;
  line-height: 43px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0;
  transform: translateY(25%);
  transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

  @media only screen and (min-width: 768px) {
    font-size: 60px;
    line-height: 71px;
  }
  @media only screen and (min-width: 1280px) {
    font-size: 80px;
    line-height: 95px;
  }
}
.page-section-header-subtitle {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-align: center;
  opacity: 0;
  transform: translateY(50%);
  transition-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
  @media only screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 24px;
    br {
      display: none;
    }
  }
  @media only screen and (min-width: 1280px) {
    font-size: 24px;
    line-height: 28px;
  }
}
