:root {
  --page-wrapper-padding: 30px;
  @media only screen and (min-width: 768px) {
    --page-wrapper-padding: 50px;
  }
  @media only screen and (min-width: 1280px) {
    --page-wrapper-padding: 30px;
  }
}

@mixin common-layout($height-area: "") {
  position: relative;
  z-index: 10;
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
    width: 100%;
    height: 100%;
    img {
      object-fit: cover;
    }
  }
  .cover {
    width: 100%;
    height: 100%;
  }
  @if $height-area == "full" {
    height: 400px;
    @media only screen and (min-width: 768px) {
      height: 600px;
    }
    @media only screen and (min-width: 1280px) {
      height: calc(100vh - var(--page-header-height));
    }
  }
}

.page-section-wrapper {
  width: 100%;
  max-width: 1400px;
  padding: 0 var(--page-wrapper-padding);
  margin: 0 auto;
}

.page-section-header {
  padding: 60px 0;
  @media only screen and (min-width: 768px) {
    padding: 80px 0;
  }
  @media only screen and (min-width: 1280px) {
    padding: 100px 0 60px;
  }
}
.page-section-header-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:before {
    display: block;
    width: 7px;
    height: 30px;
    margin-bottom: 20px;
    transform: skewX(-30deg);
    background: var(--yellow);
  }
  &[title-deco="true"] {
    &:before {
      content: "";
    }
  }
  @media only screen and (min-width: 768px) {
    &:before {
      width: 10px;
      height: 40px;
      transform: skewX(-30deg);
    }
  }
  @media only screen and (min-width: 1280px) {
    &:before {
      width: 14px;
      height: 58px;
      transform: skewX(-30deg);
    }
  }
}
.page-section-header-title {
  font-size: 36px;
  line-height: 43px;
  font-weight: 700;
  text-transform: uppercase;
  @media only screen and (min-width: 768px) {
    font-size: 60px;
    line-height: 71px;
  }
  @media only screen and (min-width: 1280px) {
    font-size: 80px;
    line-height: 95px;
  }
}
.page-section-header-subtitle {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-align: center;
  @media only screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 24px;
    br {
      display: none;
    }
  }
  @media only screen and (min-width: 1280px) {
    font-size: 24px;
    line-height: 28px;
  }
}

.page-about-location {
  background: white;
  padding-bottom: 60px;
  @media only screen and (min-width: 768px) {
    padding-bottom: 80px;
  }
  @media only screen and (min-width: 1280px) {
    padding: 100px 0;
  }
}
.page-about-location-header {
  padding-bottom: 30px;
  @media only screen and (min-width: 768px) {
    padding-bottom: 50px;
  }
  @media only screen and (min-width: 1280px) {
    padding-bottom: 80px;
  }
}
.page-about-location-item {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  @media only screen and (min-width: 768px) {
    margin-bottom: 50px;
  }
  @media only screen and (min-width: 1280px) {
    margin-bottom: 80px;
  }
}
.page-about-location-item-header {
  margin-bottom: 20px;
  dt,
  dd {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
  }
  dt {
    margin-bottom: 10px;
    font-weight: 500;
  }
  @media only screen and (min-width: 768px) {
    margin-bottom: 30px;
    dl {
      display: flex;
      align-items: flex-start;
    }
    dt,
    dd {
      font-size: 24px;
      line-height: 28px;
    }
    dt {
      margin: 0 20px 0 0;
    }
  }
  @media only screen and (min-width: 1280px) {
    dt,
    dd {
      font-size: 30px;
      line-height: 35px;
    }
    dt {
      margin-right: 30px;
    }
  }
}

.page-about-location-item-contents {
  width: 100%;
  height: 300px;
  border: 1px solid #c2c2c2;
  @media only screen and (min-width: 768px) {
    height: 400px;
  }
  @media only screen and (min-width: 1280px) {
    height: 600px;
  }
}
