@use "../components/section";

.page-sub-visual {
  @include section.common-layout();
  .cover {
    color: white;
    text-align: center;
    word-break: keep-all;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .page-section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
