{
  "singleQuote": false,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 100,
  "overrides": [
    {
      "files": "**/*.{ts,tsx,js,jsx}",
      "options": {
        "singleAttributePerLine": false,
        "arrowParens": "avoid"
      }
    },
    {
      "files": "**/*.{scss,css}",
      "options": {
        "singleAttributePerLine": false,
        "proseWrap": "preserve",
        "embeddedLanguageFormatting": "off"
      }
    }
  ]
}
