#pageFooter {
  width: 100%;
  padding: 40px 0;
  border-top: 1px solid #c2c2c2;
  background: #fff;
  .page-footer-section {
    width: 100%;
    margin-bottom: 40px;
    justify-content: space-between;
  }
  .logo-box {
    font-size: 0;
    figcaption {
      margin-top: 15px;
      font-size: 17px;
      line-height: 1em;
      font-weight: 600;
      display: flex;
      align-items: center;
    }
  }
  .inquiry-button {
    padding: 0 36px;
    span {
      font-size: 26px;
    }
  }
  dl {
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    dt {
      margin-right: 4px;
      font-weight: 600;
      white-space: nowrap;
    }
    dd {
      font-weight: 400;
    }
  }
  .copyright {
    font-size: 14px;
    color: #666;
    line-height: 21px;
    font-weight: 400;
  }
}

[viewport-device="desktop"] {
  #pageFooter {
    .page-footer-section {
      display: flex;
    }
    .logo-box {
      font-size: 0;
      figcaption {
        height: 37px;
        font-size: 22px;
      }
    }
    dl {
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .address-info-item {
      margin-bottom: 10px;
      justify-content: flex-end;
    }
  }
}
