@use "../components/section";

.page-about-visual {
  @include section.common-layout();
  height: 300px;
  @media only screen and (min-width: 768px) {
    height: 360px;
  }
  @media only screen and (min-width: 1280px) {
    height: 600px;
  }
  .cover {
    color: white;
    text-align: center;
    word-break: keep-all;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
      margin-bottom: 20px;
      font-size: 32px;
      line-height: 38px;
      font-weight: 700;
      opacity: 0;
      transform: translateY(100%);
      transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    }
    p {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 16px;
      font-weight: 600;
      opacity: 0;
      transform: translateY(-100%);
    }
    .ci-origin {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 50px;
      line-height: 60px;
      strong {
        font-weight: 700;
        opacity: 0;
        transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
      }
      span {
        font-weight: 300;
        margin: 0 20px;
        opacity: 0;
      }
      .left {
        transform: translateX(25%);
      }
      .right {
        transform: translateX(-25%);
      }
    }
    @media only screen and (min-width: 768px) {
      h2 {
        font-size: 40px;
        line-height: 47px;
        br {
          display: none;
        }
      }
      p {
        font-size: 18px;
        line-height: 21px;
      }
      .ci-origin {
        font-size: 90px;
        line-height: 107px;
      }
    }
    @media only screen and (min-width: 1280px) {
      h2 {
        margin-bottom: 40px;
        font-size: 50px;
        line-height: 60px;
      }
      p {
        margin-bottom: 40px;
      }
      .ci-origin {
        font-size: 130px;
        line-height: 155px;
        span {
          margin: 0 56px;
        }
      }
    }
  }
}

.page-about-ceo {
  padding-bottom: 50px;
  background: #f9f9f9;
  @media only screen and (min-width: 768px) {
    padding-bottom: 80px;
  }
  @media only screen and (min-width: 1280px) {
    padding-bottom: 100px;
  }
}
.page-about-ceo-header {
  padding: 50px 0 80px;
  @media only screen and (min-width: 768px) {
    padding-top: 80px;
  }
  @media only screen and (min-width: 1280px) {
    padding-top: 160px;
  }
}
.page-about-ceo-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  figure {
    margin: 0 auto 20px;
    opacity: 0;
  }
  strong {
    display: block;
    font-size: 26px;
    font-weight: 600;
    line-height: 31px;
    opacity: 0;
    transform: translateY(-50%);
  }
  @media only screen and (min-width: 1280px) {
    strong {
      font-size: 30px;
      line-height: 35px;
    }
  }
}
.page-about-ceo-name {
  margin-bottom: 34px;
  text-align: center;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: baseline;
  span {
    margin-right: 10px;
    color: var(--yellow);
    font-weight: 600;
    opacity: 0;
    transform: translateX(-25%);
  }
  strong {
    font-weight: 700;
    opacity: 0;
    transform: translateX(-25%);
  }
  @media only screen and (min-width: 768px) {
    margin-bottom: 48px;
    font-size: 40px;
    line-height: 47px;
  }
  @media only screen and (min-width: 1280px) {
    text-align: left;
    span {
      margin-right: 30px;
      font-size: 42px;
      line-height: 50px;
    }
    strong {
      font-size: 80px;
      line-height: 95px;
    }
  }
}
.page-about-ceo-info {
  @media only screen and (min-width: 1280px) {
    display: flex;
  }
}
.page-about-ceo-img {
  display: none;
  @media only screen and (min-width: 1280px) {
    display: block;
  }
}

.page-about-ceo-details {
  --about-ceo-detail-title-margin: 16px;
  --about-ceo-detail-title-font-size: 20px;
  --about-ceo-detail-title-line-height: 23px;
  --about-ceo-detail-list-margin: 10px;
  --about-ceo-detail-list-padding: 20px;
  --about-ceo-detail-list-item-font-size: 18px;
  --about-ceo-detail-list-item-line-height: 21px;
  @media only screen and (min-width: 768px) {
    --about-ceo-detail-title-font-size: 24px;
    --about-ceo-detail-title-line-height: 28px;
    --about-ceo-detail-list-margin: 20px;
    --about-ceo-detail-list-padding: 30px;
    --about-ceo-detail-list-item-font-size: 22px;
    --about-ceo-detail-list-item-line-height: 26px;
  }

  .page-about-ceo-detail-item {
    width: 100%;
    margin-bottom: 24px;
    position: relative;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .list-border {
    display: block;
    width: 1px;
    position: absolute;
    top: var(--about-ceo-detail-title-line-height) + var(--about-ceo-detail-title-margin);
    left: var(--about-ceo-detail-list-margin);
    background: #b7b7b7;
    height: 0;
    opacity: 0;
  }
  .page-about-ceo-detail-item-title {
    margin-bottom: var(--about-ceo-detail-title-margin);
    font-size: var(--about-ceo-detail-title-font-size);
    color: #6a6c6b;
    line-height: var(--about-ceo-detail-title-line-height);
    opacity: 0;
  }
  .page-about-ceo-detail-list {
    width: calc(100% - var(--about-ceo-detail-list-margin));
    margin-left: var(--about-ceo-detail-list-margin);
    padding-left: var(--about-ceo-detail-list-padding);
    position: relative;
  }
  .page-about-ceo-detail-list-item {
    margin-bottom: 12px;
    font-size: var(--about-ceo-detail-list-item-font-size);
    color: #333;
    line-height: var(--about-ceo-detail-list-item-line-height);
    font-weight: 500;
    opacity: 0;
    transform: translateX(-30px);
    strong {
      margin-right: 4px;
      font-weight: 600;
    }
    span {
      font-weight: 400;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media only screen and (min-width: 1280px) {
    padding-left: 60px;
  }
}

.page-about-vision {
  background: white;
  @media only screen and (min-width: 1280px) {
    overflow: hidden;
    position: relative;
    z-index: 10;
    &:before {
      content: "";
      display: block;
      width: 3840px;
      height: 3840px;
      border-radius: 50%;
      background: #f9f9f9;
      position: absolute;
      top: 340px;
      left: 50%;
      transform: translateX(-50%);
      z-index: -5;
    }
  }
}
.page-about-vision-header {
  @media only screen and (min-width: 768px) {
    padding-bottom: 60px;
  }
  @media only screen and (min-width: 1280px) {
    padding-bottom: 150px;
  }
}
.page-about-vision-title {
  margin-bottom: 30px;
  text-align: center;
  .page-about-vision-title-upper {
    margin-bottom: 36px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    opacity: 0;
    transform: translateY(10px);
  }
  .page-about-vision-title-lower {
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
    opacity: 0;
    transform: translateY(-50%);
  }
  .page-about-vision-title-dot {
    display: block;
    width: 15px;
    height: 15px;
    margin: 18px auto 0;
    border-radius: 50%;
    background: var(--yellow);
    opacity: 0;
    transform: scale(0.7);
    transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
  }
  @media only screen and (min-width: 768px) {
    .page-about-vision-title-upper {
      font-size: 40px;
      line-height: 47px;
      .mobile-br {
        display: none;
      }
    }
    .page-about-vision-title-lower {
      font-size: 24px;
      line-height: 28px;
    }
    .page-about-vision-title-dot {
      margin-top: 18px;
    }
  }
  @media only screen and (min-width: 1280px) {
    margin-bottom: 80px;
    .page-about-vision-title-upper {
      margin-bottom: 42px;
      font-size: 54px;
      line-height: 64px;
    }
  }
}
.page-about-vision-container {
  background: #f9f9f9;
}
.page-about-vision-list {
  width: 100%;
  padding: 60px 0 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: center;
  .page-about-vision-list-item {
    width: 50%;
    padding: 0 15px;
    margin-bottom: 30px;
  }
  figure {
    margin: 0 auto 20px;
    opacity: 0;
  }
  h4 {
    width: 100%;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    opacity: 0;
    transform: translateY(50%);
  }
  @media only screen and (min-width: 768px) {
    padding: 80px 0;
    .page-about-vision-list-item {
      width: 33.3333%;
      padding: 0 30px;
      margin-bottom: 60px;
    }
    h4 {
      font-size: 28px;
      line-height: 33px;
    }
  }
  @media only screen and (min-width: 1280px) {
    padding: 60px 0;
    background: none;
    .page-about-vision-list-item {
      width: 16.6667%;
      padding: 0 35px;
      margin-bottom: 0;
    }
  }
}

.page-about-partners {
  background: white;
}
.page-about-partners-container {
  padding: 50px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #f9f9f9;
  @media only screen and (min-width: 768px) {
    padding: 60px 0;
  }
}
.page-about-partners-item {
  width: 100%;
  margin-bottom: 10px;
  @media only screen and (min-width: 1280px) {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
  }
}
.page-about-partners-category-title {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  h4 {
    margin-right: 10px;
    font-size: 20px;
    line-height: 23px;
    white-space: nowrap;
  }
  @media only screen and (min-width: 1280px) {
    width: 185px;
    height: 80px;
    margin: 0;
  }
}
.page-about-partners-category-title-deco {
  .large-circle {
    width: 23px;
    height: 23px;
    border-radius: 23px;
    background: var(--yellow);
    opacity: 0.5;
    position: relative;
  }
  .chain-line {
    width: 9px;
    height: 9px;
    border-radius: 9px;
    background: var(--yellow);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .line {
      width: 71px;
      height: 1px;
      background: var(--yellow);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%);
      &:after {
        content: "";
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 5px;
        background: var(--yellow);
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(-50%, calc(-50% - 0.5px));
      }
    }
  }
}
.page-about-partners-category-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: calc(100% + 20px);
  margin: 0 -10px;
  li {
    margin: 0 10px 20px;
  }
  @media only screen and (min-width: 1280px) {
    width: auto;
    margin: 0;
    flex: 1;
  }
}
