@use "../components/section";

@mixin float-object-mixin($name: "", $amount: 4px) {
  @if $name == "" {
    @keyframes float-object {
      0% {
        transform: translateY(calc($amount * -1));
      }
      50% {
        transform: translateY($amount);
      }
      100% {
        transform: translateY(calc($amount * -1));
      }
    }
  } @else {
    @keyframes float-object#{"-"+$name} {
      0% {
        transform: translateY(calc($amount * -1));
      }
      50% {
        transform: translateY($amount);
      }
      100% {
        transform: translateY(calc($amount * -1));
      }
    }
  }
}

.page-main-visual {
  @include section.common-layout("full");

  .bg-object-container {
    justify-content: flex-end;
    img {
      @media only screen and (min-width: 1280px) {
        height: calc(100vh - var(--page-header-height)) !important;
      }
    }
  }
  .cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  text-align: left;
  word-break: keep-all;

  h2 {
    width: 100%;
    margin-bottom: 25px;
    font-size: 32px;
    color: white;
    line-height: 38px;
    font-weight: 700;
    text-shadow: 7px 8px 6px rgba(0, 0, 0, 0.3);
    span {
      opacity: 0;
      transform: translateY(100%);
    }
  }
  p {
    font-size: 12px;
    color: white;
    line-height: 14px;
    font-weight: 400;
    opacity: 0;
    br {
      display: none;
    }
  }
  @media only screen and (min-width: 768px) {
    text-align: center;

    .bg-object-container {
      justify-content: center;
    }

    @include float-object-mixin("earth");
    .bg-object {
      opacity: 0;
      animation: float-object-earth 3s ease-in-out infinite;
    }

    h2 {
      margin-bottom: 50px;
      font-size: 56px;
      line-height: 67px;
      display: flex;
      flex-direction: column;
    }
    p {
      font-size: 18px;
      line-height: 21px;
      br {
        display: inline;
      }
    }
  }
  @media only screen and (min-width: 1280px) {
    h2 {
      font-size: 80px;
      line-height: 96px;
    }
    p {
      font-size: 22px;
      line-height: 26px;
    }
  }
}

.page-main-tech {
  @include section.common-layout("full");
}

.page-main-tech-intro {
  text-align: center;

  @include float-object-mixin("ai");
  @include float-object-mixin("ai-keywords", -2px);

  .bg-object {
    opacity: 0;
  }
  .tech-intro-ai-keywords {
    display: none;
  }

  .cover {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  h2 {
    margin-bottom: 40px;
    font-size: 32px;
    color: white;
    line-height: 38px;
    font-weight: 700;
    word-break: keep-all;
    opacity: 0;
    transform: translateY(100%);
  }
  p {
    font-size: 16px;
    color: white;
    line-height: 19.2px;
    font-weight: 500;
    span {
      opacity: 0;
      transform: translateY(100%);
    }
  }
  @media only screen and (min-width: 768px) {
    .tech-intro-ai {
      .bg-object {
        animation: float-object-ai 3s ease-in-out infinite;
      }
    }
    .cover {
      padding-top: 70px;
      padding-bottom: 70px;
    }
    h2 {
      font-size: 50px;
      line-height: 60px;
    }
    p {
      font-size: 22px;
      line-height: 30px;
      span {
        display: block;
      }
    }
  }
  @media only screen and (min-width: 1280px) {
    .bg-object {
      transform: translateY(40px);
      img {
        height: 100% !important;
      }
    }
    .tech-intro-ai {
      .bg-object {
        height: 54vh;
      }
    }
    .tech-intro-ai-keywords {
      display: flex;
      .bg-object {
        animation: float-object-ai-keywords 3s ease-in-out infinite;
      }
    }
    .cover {
      padding: 12vh 0;
      justify-content: flex-start;
    }
    h2 {
      font-size: 70px;
      line-height: 1em;
    }
    p {
      max-height: 54%;
      flex: 1;
      font-size: 26px;
      line-height: 36px;
    }
  }
}

.page-main-tech-item {
  height: 400px;
  --page-main-tech-title-height: 40px;
  display: flex;
  flex-direction: column;
  .page-main-tech-img {
    width: 100%;
    flex: 1;
    img {
      object-fit: cover;
    }
  }
  .page-main-tech-contents {
    padding-top: calc(var(--page-main-tech-title-height) / 2);
    background: white;
    position: relative;
    h2 {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      .title-box {
        width: fit-content;
        height: var(--page-main-tech-title-height);
        padding: 0 20px;
        border-radius: calc(var(--page-main-tech-title-height) / 2);
        background: #aaa;
        display: flex;
        align-items: center;
        opacity: 0;
        transform: translateY(100%);
      }
      span {
        font-size: 20px;
        color: white;
        line-height: 1em;
        font-weight: 500;
        letter-spacing: -0.5px;
        white-space: nowrap;
      }
    }
    p {
      width: 100%;
      padding: 30px 0;
      font-size: 16px;
      line-height: 19.2px;
      font-weight: 500;
      opacity: 0;
      transform: translateY(-30%);
    }
  }
  @media only screen and (min-width: 768px) {
    --page-main-tech-title-height: 69px;
    height: 600px;
    .page-main-tech-contents {
      h2 {
        .title-box {
          padding: 0 50px;
        }
        span {
          font-size: 32px;
        }
      }
      p {
        padding: 40px 0;
        font-size: 24px;
        line-height: 43.2px;
      }
    }
  }
  @media only screen and (min-width: 1280px) {
    height: calc(100vh - var(--page-header-height));
    .page-main-tech-img {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -5;
    }
    .page-main-tech-contents {
      height: 100%;
      background: transparent;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .page-main-tech-contents-wrapper {
        width: 50%;
        padding: 0 var(--page-wrapper-padding);
      }
      h2 {
        margin-bottom: 60px;
        position: static;
        transform: none;
      }
      p {
        padding: 0;
        font-size: 30px;
        line-height: 45px;
      }
    }
  }
}

.page-main-tech-medical {
  background: white;
  .page-main-tech-contents {
    h2 {
      .title-box {
        background: #5b433e;
      }
    }
  }
  @media only screen and (min-width: 1280px) {
    .page-main-tech-img {
      width: 50%;
    }
    .page-main-tech-contents {
      align-items: flex-end;
    }
  }
}

.page-main-tech-transport {
  .page-main-tech-contents {
    h2 {
      .title-box {
        background: #0643c1;
      }
    }
  }
}

.page-main-farmaid {
  --page-main-farmaid-padding: 60px;
  --page-main-farmaid-logo-margin: 30px;
  @media only screen and (min-width: 768px) {
    --page-main-farmaid-padding: 100px;
    --page-main-farmaid-logo-margin: 60px;
  }

  padding: var(--page-main-farmaid-padding) 0;
  text-align: center;
  background: white;

  p {
    font-size: 20px;
    line-height: 28px;
    word-break: keep-all;
    span {
      opacity: 0;
      transform: translateY(100%);
    }
  }
  h2 {
    margin-bottom: var(--page-main-farmaid-logo-margin);
    font-size: 28px;
    line-height: 1em;
    font-weight: 600;
    opacity: 0;
    transform: translateY(-50%);
  }
  @media only screen and (min-width: 768px) {
    p {
      font-size: 26px;
      line-height: 36px;
      span {
        display: block;
      }
    }
    h2 {
      font-size: 32px;
    }
  }
  @media only screen and (min-width: 1280px) {
    p {
      font-size: 44px;
      line-height: 61px;
    }
  }

  .service-logo {
    margin: var(--page-main-farmaid-logo-margin) auto;
    opacity: 0;
  }

  .link-container {
    display: flex;
    justify-content: center;
    opacity: 0;
    .link-button {
      width: 156px;
      height: 45px;
      border-radius: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
