@use "../common/renewal-base.scss";

.page-pre-order-visual {
  height: 500px;

  h2 {
    margin-bottom: 10px;
    span {
      display: block;
      font-size: 64px;
      line-height: 1.4em;
      font-weight: 700;
    }
  }
  p {
    font-size: 28px;
    line-height: 1.5em;
    font-weight: 400;
  }
}

.page-pre-order-intro-container {
  padding: 120px 0;
}

.page-pre-order-intro-header {
  margin-bottom: 120px;
}

.page-pre-order-feature-container {
  padding-bottom: 120px;
}
.page-pre-order-feature-header {
  margin-bottom: 120px;

  display: flex;
  align-items: center;
  justify-self: center;

  figure {
    width: calc(427px / 1340px * 100vw);
    max-width: 427px;
  }
}

.page-pre-order-feature-list-container {
  width: 100%;
  ul {
    width: 100%;
    li {
      margin-top: 200px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.page-pre-order-product-container {
  padding-bottom: 200px;
}

.page-pre-order-product-header {
  margin-bottom: 80px;

  display: flex;
  align-items: center;
  justify-content: center;

  figure {
    width: calc(391px / 1340px * 100vw);
    max-width: 391px;
  }
}

.page-pre-order-product-packages {
  margin-bottom: 80px;
}

.page-pre-order-product-button {
  width: 100%;
  max-width: 370px;
  height: 48px;
  margin: 0 auto;
  border-radius: 8px;
  background: var(--brand-purple);

  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-size: 19px;
    color: #fff;
    line-height: 1em;
    font-weight: 700;
  }
}
