/*
  웹 폰트 우선순위
  1. Pretendard
    - https://github.com/orioncactus/pretendard
    - Next.js 폰트 설치 https://github.com/orioncactus/pretendard/issues/157
  2. 안드로이드-Roboto / iOS-SF Pro
    - 애플 기기의 특수성으로, SF Pro를 먼저 선언한 뒤, Roboto를 적용한다.
    - SF Pro 적용을 위한 font-family 키워드는 "system-ui", "-apple-system"이 있다.
    - 참조: https://developer.apple.com/forums/thread/127350
    - SF Pro 다운로드: https://developer.apple.com/fonts/
*/
* {
  font-family: "pretendard", system-ui, "-apple-system", "Roboto",
    "BlinkMacSystemFont", "Apple SD Gothic Neo", "Segoe UI", "Helvetica",
    "Helvetica Neue", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "맑은 고딕", "Malgun Gothic", "돋움", "dotum", "Oxygen", "Oxygen-Sans",
    "Ubuntu", "Cantarell", ui-sans-serif, Arial, "Noto Sans", sans-serif,
    "Noto Color Emoji";
  letter-spacing: -0.03em;
}
